<!-- BENEFITS SECTION -->
<section class="section benefits-section">
    <div class="container benefits-container">
      <ul class="benefits list">
        <li class="benefits-list list">
          <h3 class="benefits-title title">Unsurpassed taste</h3>
          <p class="benefits-description">
            Crafted with the finest quality cocoa beanss<br />
            and a dedication to perfection, each bite is as<br />
            decadent experience that simply cannot bes<br />
            matched. Savor the richness and complexitys<br />
            of our Unsurpassed Taste and discover a news<br />
            level of chocolate bliss.<br />
          </p>
        </li>
        <li class="benefits-list list">
          <h3 class="benefits-title title">Affordable price</h3>
          <p class="benefits-description">
            Indulge in high-quality chocolate without<br />
            breaking the bank with Simply Chocolate's<br />
            selection of affordable treats. Enjoy mouth-<br />
            watering truffles and velvety chocolate bars<br />
            without sacrificing taste or quality. Browse<br />
            our selection and indulge in affordable luxury<br />
            today.<br />
          </p>
        </li>
        <li class="benefits-list">
          <h3 class="benefits-title title">Own production</h3>
          <p class="benefits-description">
            We take pride in our own production process,<br />
            ensuring that every step is carefully crafted to<br />
            perfection. From selecting the finest<br />
            ingredients to handcrafting each piece, our<br />
            attention to detail is evident in every bite.<br />
          </p>
        </li>
      </ul>
    </div>
  </section>
  
  <!-- TITLE SECTION -->
  <section class="section section-title">
    <div class="container ingredients-container">
      <h2 class="section-title title">
        <span>IT ALL ADDS UP TO ONE 
          <br />EXCEPTIONAL <span class="taste-title">TASTE</span> SENSATION </span>
      </h2>
      <p class="title-description">
        At Simply Chocolate, we believe that the secret to exceptional
        chocolate<br />
        is in the details. From the sourcing of the finest ingredients to the<br />
        careful crafting of each individual piece, every step of our process
        adds<br />
        up to one exceptional taste sensation.
      </p>
    </div>
  </section>
  
    <!-- INGREDIENTS SECTION -->
  
  <section class="box-section">
    <ul class="box-list">
    <li class="box">
      <img class="ingredient-picture" src="./images/milk-chocolate.png" alt="milk-chocolate.jpg"/>
    <h4 class="ingredients-name-white">MILK-CHOCOLATE</h4>
      <div class="overlay">
        <h5>MILK CHOCOLATE</h5>
        <div class="ingredients-title-container">      
          <p class="orange-title">chocolate</p><p class="white-title">the benefits</p>
        </div>
          <p class="description-box">
          Milk chocolate is a solid chocolate</br> 
          confectionery containing cocoa,</br>
          sugar and milk. It is the most</br> 
          consumed type of chocolate.</br> 
          Chocolate was originally sold and</br>
          consumed as a beverage in pre-</br>
          Columbian times. Although four-</br>
          fifths of all milk chocolate is sold</br>
          in the United States and Europe.</br>
        </p>
      </div>
    </li>
  
    <li class="box">
      <img class="ingredient-picture" src="./images/milk.png" alt="milk" class=/>
      <h4 class="ingredients-name-black">MILK</h4>
      <div class="overlay">
        <h5>MILK</h5>
        <div class="ingredients-title-container">      
          <p class="orange-title">milk</p><p class="white-title">the benefits</p>
        </div>
          <p class="description-box">
          Milk is a white liquid food</br>
          produced by the mammary</br>
          glands of mammals. It is the</br>
          primary source of nutrition for</br>
          young mammals (including</br>
          breastfed human infants) before</br>
          they are able to digest solid</br>
          food.Early-lactation milk, which is</br>
          called colostrum, contains </br>
          antibodies that strengthen the immune system.</br>
        </p>
      </div>
    </div>
  
    <li class="box">
      <img class="ingredient-picture" src="./images/nuts.png" alt="nuts"/>
      <h4 class="ingredients-name-white">NUTS</h4>
      <div class="overlay">
       <h5>NUTS</h5>
       <div class="ingredients-title-container">      
        <p class="orange-title">nuts</p><p class="white-title">the benefits</p>
      </div>
      <p class="description-box">
          Almonds, pistachios, and walnuts</br>
          are some types of nuts that</br>
          contain healthy nutrients. When</br>
          eaten as part of a nutrient-dense</br>
          diet, these 9 nuts may offer</br>
          benefits such as reducing your</br>
          risk of heart disease. They're a</br>
          good source of fiber, healthy fats,</br>
          and plant protein. Plus, they're</br>
          great on their own.</br>  
        </p>
      </div>
    </li>
  
    <li class="box">
      <img class="ingredient-picture" src="./images/sweet-chocolate.png" alt="sweet-chocolate"/>
      <h4 class="ingredients-name-black">SWEET-CHOCOLATE</h4>
      <div class="overlay">
       <h5>SEMI SWEET-CHOCOLATE</h5>
       <div class="ingredients-title-container">      
        <p class="orange-title">sweet-chocolate</p><p class="white-title">the benefits</p>
      </div>
          <p class="description-box">
          Semi-sweet chocolate has a</br>
          cocoa solid content of 35 to 65%.</br>
          One of the best ways to gain an</br>
          understanding of this type of</br>
          chocolate is to compare it to a</br>
          different type of chocolate.</br>
          Semisweet is darker than milk</br> 
          chocolate. In a taste comparison,</br>
          it has a slightly bitter taste</br>
          whereas milk chocolate is sweeter.</br>
        </p>
      </div>
    </li>
  </ul>
  </section>
  