<!--This is Subscribe-->
    <div class="container-subscribe">
        <ul>
            <h1 class="footer-header">
                EXPLORE OUR NEW<br>CHOCOLATE FIRST
            </h1>
            <p class="footer-description">
                From the velvet texture to the rich and complex flavor, our New<br>
                Chocolate is a true indulgence that will leave you creaving more. Made <br>
                with only the finest ingredients and handcrafted with the utmost<br>
                care, each piece is a work of art that is sure to please.
            </p>
            <button type="button" class="button subscribe" data-modal-open>Subscribe</button>
        </ul>
    </div>
    <!--This is Footer-->
    <footer class="site-footer">
        <div class="container-footer menu">
            <nav class="footer-navigation">
                <a href="#" class="link-logo">
                    <span class="footer-logo">Chocolate</span><span class="footer-block"> a delicious<br>
                        cure for a bad day</span>
                </a>
            </nav>

            <ul class="contact-footer-menu list">
                <li class="footer-title">
                    <h2 class="footer-heading">Contact us</h2>
                </li>
                <li class="item">
                    <a href="tel:+380684439426" class="contact link">+380 (68) 443-94-26</a>
                </li>
                <li class="item">
                    <a href="mailto:simplychoc@gmail.com" class="contact link">simplychoc@gmail.com</a>
                </li>
            </ul>
            <ul class="footer-social">
                <li class="icon-item">
                    <a class="link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                        arial-label="Link to Instagram">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/subscribe-icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="icon-item">
                    <a class="link" href="https://twitter.com" target="_blank" rel="noopener noreferrer"
                        arial-label="Link to Instagram">
                        <svg class="icon" width="24" height="24">
                            <use href="./images/subscribe-icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="footers">
                <li class="footer-link">
                    <a href="footer link" class="footer-item">Home</a>
                </li>
                <li class="footer-link">
                    <a href="footer link" class="footer-item">How it's made?</a>
                </li>
                <li class="footer-link">
                    <a href="footer link" class="footer-item">Our products</a>
                </li>
                <li class="footer-link">
                    <a href="footer link" class="footer-item">Top sellers</a>
                </li>
                <li class="footer-link">
                    <a href="footer link" class="footer-item">Chocolate is loved</a>
                </li>
            </ul>
        </div>
    </footer>
    <!--This is Modal-->
    <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <button type="button" class="modal-close" data-modal-close>
                <svg class="modal-close-icon" width="28" height="28">
                    <use href="./images/subscribe-icons.svg#modal-close"></use>
                </svg>
            </button>

            <h2 class="header-form">EXPLORE OUR<br>
                <span class="header-form-title">NEW CHOCOLATE</span>
                FIRST!
            </h2>

            <ul class="form-container">
                <label class="label-form">
                    <input type="email" class="label-input" name="email-address" placeholder="Enter your email"
                        required />
                </label>
                <button type="submit" class="form-button">Subscribe</button>
            </ul>
        </div>