<header class="page-header section">
    <div class="page-menu container">
        <div class="menu-header">
            <nav class="menu-navigation">
                <a class="logo-link link" href="./index.html" rel="noreferrer noopener" title="logo-link">
                    <span class="simply">SIMPLY</span>
                    <span class="chocolate">CHOCOLATE</span>

                    <svg class="header-chocolate-icon" width="24" height="24">
                        <use href="./images/header-icons.svg#icon-chocolate"></use>
                    </svg>
                </a>

                <ul class="nav-menu list" id="header">
                    <li class="nav-menu-item">
                        <a class="nav-menu-page link" href="#header" target="_self" rel="noreferrer noopener"
                            title="home">Home</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-page link" href="#how-its-made" rel="noreferrer noopener"
                            title="how-its-made">How it's
                            made?</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-page link" href="#our-products" rel="noreferrer noopener"
                            title="our-products">Our
                            products</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-page link" href="#top-sellers" rel="noreferrer noopener"
                            title="top-sellers">Top
                            sellers</a>
                    </li>
                    <li class="nav-menu-item">
                        <a class="nav-menu-page link" href="#chocolate-is-loved" rel="noreferrer noopener"
                            title="chocolate-is-loved">Chocolate is loved</a>
                    </li>
                </ul>
            </nav>

            <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu" data-menu-open>
                <svg class="hamburger-menu-icon">
                    <use href="./images/header-icons.svg#icon-hamburger"></use>
                </svg>
            </button>

            <ul class="header-socials list">
                <li class="header-socials-item">
                    <a class="header-socials-link link" href="https://instagram.com" target="_blank"
                        rel="noreferrer noopener" aria-label="Link to Instagram">
                        <svg class="socials-icon" width="24" height="24">
                            <use href="./images/header-icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class=" header-socials-item">
                    <a class="header-socials-link link" href="https://twitter.com" target="_blank"
                        rel="noreferrer noopener" aria-label="Link to Twitter">
                        <svg class="socials-icon" width="24" height="24">
                            <use href="./images/header-icons.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>

<!-- Mobile Menu -->
<div class="mobile-menu-container js-menu-container" id="mobile-menu">
    <!-- Hamburger Menu Close Icon -->
    <button class="menu-toggle js-close-menu" type="button">
        <svg class="mobile-close-icon" width="24" height="24">
            <use href="./images/header-icons.svg#icon-close"></use>
        </svg>
    </button>

    <div class="mobile-menu-content">
        <ul class="mobile-menu-list list">
            <li class="mobile-menu-item">
                <a class="mobile-menu-link link" href="./index.html" rel="noreferrer noopener" title="home">Home</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link link" href="#how-its-made" rel="noreferrer noopener" title="how-its-made">How
                    it's
                    made?</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link link" href="#our-products" rel="noreferrer noopener" title="our-products">Our
                    products</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link link" href="#top-sellers" rel="noreferrer noopener" title="top-sellers">Top
                    sellers</a>
            </li>
            <li class="mobile-menu-item">
                <a class="mobile-menu-link link" href="#chocolate-is-loved" rel="noreferrer noopener"
                    title="chocolate-is-loved">Chocolate is loved</a>
            </li>
        </ul>

        <!-- Hamburger Socials Footer -->
        <ul class="mobile-socials list">
            <li class="mobile-socials-item">
                <a class="mobile-socials-link link" href="https://instagram.com" target="_blank"
                    rel="noreferrer noopener" aria-label="Link to Instagram">
                    <svg class="mobile-socials-icon" width="24" height="24">
                        <use href="./images/header-icons.svg#icon-instagram-2"></use>
                    </svg>
                </a>
            </li>
            <li class="mobile-socials-item">
                <a class="mobile-socials-link link" href="https://twitter.com" target="_blank" rel="noreferrer noopener"
                    aria-label="Link to Twitter">
                    <svg class="mobile-socials-icon" width="24" height="24">
                        <use href="./images/header-icons.svg#icon-twitter-2"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>