<section class="hero-section section">
    <div class="hero-container container">
        <h1 class="hero-title">
            Treat yourself or a loved one<br />
            to our finest ingredients for a<br />
            moment of pure delight!
        </h1>

        <div class="hero-content">
            <div class="hero-buttons">
                <button type="button" class="button primary" data-modal-open>
                    Buy Now
                </button>
                <a class="made-link link" href="#how-its-made" rel="noreferrer noopener" title="how-its-made">
                    <button type="button" class="made-button button">
                        How it's made
                    </button>
                </a>
            </div>
            <div class="scroll-content">
                <a class="scroll-link link" href="#footer" rel="noreferrer noopener" title="how-its-made">
                    scroll down
                    <svg class="scroll-button-icon" width="22" height="22">
                        <use href="./images/hero-icons.svg#icon-scroll"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>