<section class="section">
  <div class="how-its-made container">
    <h2 class="section-header">
      <span class="main-header">How it's</span>
      <span class="color-header">made?</span>
    </h2>
    <div class="making-chocolate">
      <div class="video-instructions">
        <iframe
          class="video"
          width="600"
          height="400"
          src="https://www.youtube.com/embed/ax2xAq0ldpg"
          allowfullscreen
          name="iframe_video1"
        >
        </iframe>
      </div>
      <div class="instructions">
        <div class="instruction-item list">
          <h3 class="instruction-title">
            Try our chocolates today and <br />
            discover the perfect balance of flavor
          </h3>

          <ul class="instruction-list">
            <li>
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </li>
            <li>
              At the same time, prepare a water bath. Melt the butter on it.
            </li>
            <li>
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </li>
            <li>Heat the mixture over low heat, letting it barely boil.</li>
            <li>
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Our Products -->
<section class="prod section">
  <div class="our-products container">
    <h2 class="section-header">
      <span class="main-header">Our</span>
      <span class="color-header">Products</span>
    </h2>
    <div class="slide-container swiper">
      <div class="card-wrapper myswiper">
        <ul class="chocolates swiper-wrapper">
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/orange.jpg 1x, ./images/orange@2x.jpg 2x"
              src="./images/orange.jpg"
              alt="orange"
            />
            <h3 class="flavor">ORANGE</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">45 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Apple&Cranberry.jpg    1x,
                ./images/Apple&Cranberry@2x.jpg 2x
              "
              src="./images/Apple&Cranberry.jpg"
              alt="Apple and Cranberry"
            />
            <h3 class="flavor">APPLE&CRANBERRY</h3>
            <p class="variety">Milk Chocolate</p>
            <button class="price">50 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Lime&SeaSalt.jpg    1x,
                ./images/Lime&SeaSalt@2x.jpg 2x
              "
              src="./images/Lime&SeaSalt.jpg"
              alt="Lime and Sea Salt"
            />
            <h3 class="flavor">LIME&SEA SALT</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">66 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/Pinapple.jpg 1x, ./images/Pinapple@2x.jpg 2x"
              src="./images/Pinapple.jpg"
              alt="Pinapple"
            />
            <h3 class="flavor">PINEAPPLE</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">54 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/Classic.jpg 1x, ./images/Classic@2x.jpg 2x"
              src="./images/Classic.jpg"
              alt="Classic Dark"
            />
            <h3 class="flavor">CLASSIC</h3>
            <p class="variety">Milk Chocolate</p>
            <button class="price">45 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/Honey.jpg 1x, ./images/Honey@2x.jpg 2x"
              src="./images/Honey.jpg"
              alt="Honey"
            />
            <h3 class="flavor">HONEY</h3>
            <p class="variety">Milk Chocolate</p>
            <button class="price">50 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Roasted-Fruits.jpg    1x,
                ./images/Roasted-Fruits@2x.jpg 2x
              "
              src="./images/Roasted-Fruits.jpg"
              alt="Roasted Fruits"
            />
            <h3 class="flavor">ROASTED FRUITS</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">66 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Classic-White.jpg    1x,
                ./images/Classic-White@2x.jpg 2x
              "
              src="./images/Classic-White.jpg"
              alt="Classic White"
            />
            <h3 class="flavor">CLASSIC</h3>
            <p class="variety">White Chocolate</p>
            <button class="price">54 UAH</button>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
